<!DOCTYPE html>

<html lang="en" class="default-style layout-fixed layout-navbar-fixed">


<!-- Mirrored from html.phoenixcoded.net/empire/bootstrap/default/dashboards_ecommerce.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Mar 2021 10:51:51 GMT -->
<head>
    <title>Empire | B4+ admin template</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Admin/img/favicon.ico">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="~/Admin/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/Admin/fonts/ionicons.css">
    <link rel="stylesheet" href="~/Admin/fonts/linearicons.css">
    <link rel="stylesheet" href="~/Admin/fonts/open-iconic.css">
    <link rel="stylesheet" href="~/Admin/fonts/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/Admin/fonts/feather.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="~/Admin/css/bootstrap-material.css">
    <link rel="stylesheet" href="~/Admin/css/shreerang-material.css">
    <link rel="stylesheet" href="~/Admin/css/uikit.css">

    <!-- Libs -->
    <link rel="stylesheet" href="~/Admin/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/Admin/libs/flot/flot.css">
</head>

<body>
    <!-- [ Preloader ] Start -->
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>
    <!-- [ Preloader ] End -->
    <!-- [ Layout wrapper ] Start -->
    <div class="layout-wrapper layout-2">
        <div class="layout-inner">
            <!-- [ Layout sidenav ] Start -->
            <partial name="Sidebar.cshtml" />
            <!-- [ Layout sidenav ] End -->
            <!-- [ Layout container ] Start -->
            <div class="layout-container">
                <!-- [ Layout navbar ( Header ) ] Start -->
                <partial name="Header.cshtml" />
                <!-- [ Layout navbar ( Header ) ] End -->
                <!-- [ Layout content ] Start -->
                <div class="layout-content">
                    <!-- [ content ] Start -->
                    @RenderBody()
                    <!-- [ content ] End -->
                    <!-- [ Layout footer ] Start -->
                    <partial name="Footer.cshtml" />
                    <!-- [ Layout footer ] End -->

                </div>
                <!-- [ Layout content ] Start -->

            </div>
            <!-- [ Layout container ] End -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-sidenav-toggle"></div>
    </div>
    <!-- [ Layout wrapper] End -->
    <!-- Core scripts -->
    <script src="~/Admin/js/pace.js"></script>
    <script src="~/Admin/js/jquery-3.3.1.min.js"></script>
    <script src="~/Admin/libs/popper/popper.js"></script>
    <script src="~/Admin/js/bootstrap.js"></script>
    <script src="~/Admin/js/sidenav.js"></script>
    <script src="~/Admin/js/layout-helpers.js"></script>
    <script src="~/Admin/js/material-ripple.js"></script>

    <!-- Libs -->
    <script src="~/Admin/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Admin/libs/eve/eve.js"></script>
    <script src="~/Admin/libs/flot/flot.js"></script>
    <script src="~/Admin/libs/flot/curvedLines.js"></script>
    <script src="~/Admin/libs/chart-am4/core.js"></script>
    <script src="~/Admin/libs/chart-am4/charts.js"></script>
    <script src="~/Admin/libs/chart-am4/animated.js"></script>
    <script src="~/Admin/libs/raphael/raphael.js"></script>
    <script src="~/Admin/libs/morris/morris.js"></script>
    <!-- Demo -->
    <script src="~/Admin/js/demo.js"></script>
    <script src="~/Admin/js/analytics.js"></script>
    <script src="~/Admin/js/pages/dashboards_ecommerce.js"></script>
</body>


<!-- Mirrored from html.phoenixcoded.net/empire/bootstrap/default/dashboards_ecommerce.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Mar 2021 10:51:59 GMT -->
</html>
